// Header
.site-header {
    background: url('/images/door.jpeg') no-repeat center top;
    background-size: cover;
    //padding: 12px;
    a {
        padding: 12px 0;
        display: block;
        float: left;
        color: #fff;
        //font-weight: bold;
        font-size: 2em;
    }
}

// Footer
.site-footer {
    background: #dbdbdb;
    padding-top: $spacing-unit;
    padding-bottom: 15px;
}

.footer-col-1 {
    @include span(9 of 12);
    @include media-query (500px) {
        @include span(12 of 12);
    }
}
.footer-col-2 {
    @include span(3 of 12);
    @include media-query (500px) {
        @include span(12 of 12);
    }
}

.social-media-list {
    list-style: none;
    margin: 0;
}

// Home
.home, .post {
    padding-top: 12px;
}
.home h1, .home li {
    text-align: center;
}

// Posts
.post-title {
    font-size: 2.25em;
    font-weight: 600;
}

.post-list {
    list-style: none;
    margin: 0 0 12px 0;
    h2 {
        display: inline;
    }
}

.post-meta {
    color: lighten($text-color, 20);
}

.feature-image {
    width: 100%;
}

.page-content {
    background: #f1f1f1;
}

.page-heading {
    border-bottom: 1px solid #ccc;
}
